.App {
  
  color: white;
}

body{
  background-color: black;
}

.card{
  background-color: black;
  border-color: #646665;
  margin-top:10px;
  margin-bottom:10px;
}
.card-title{
  text-align: center;
}
.btn-div{
  text-align: center;
}
.card-footer{
  border-color: #646665;
  background-color: #4d4f4e;
  text-align: center;
}